@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Luckiest+Guy&family=Poppins:wght@100;400&family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Luckiest+Guy&family=Poppins:wght@100;400&family=Rubik:wght@300&family=Sono:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Luckiest+Guy&family=Poppins:wght@100;400&family=Rubik:wght@300&family=Sono:wght@400;800&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
body{
  background-color: #000000;
  color: white;
  font-size: 20px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgb(255, 169, 169);
    padding: 0 5px;  
}
.logo{
    width: 100px;
      
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 5px -0px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(8, 8, 8);
  padding: 0px 3px;
  border: 7px solid transparent;
  text-transform: uppercase ;
  transition: 0.5 ease;
  text-decoration-style: solid;
  font-size: 15px;
  border-radius: 100px; 
}
nav ul li.active a{
  background-color: rgb(0, 0, 0);
  color: #e75f5f;
}
nav ul li a:hover{
  background-color:rgb(238, 105, 105);
  color: #000000; 
  
}
.img-class{
    width: 60%;
    margin-left: 100px;
    margin-top: 50px;
}
  .img-class img{
    width: 70%;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(233, 160, 160);
    margin-top: 30px;
    margin-left: 50px;
  }
  .container{
    height:80vh ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .text-center { 
  
    font-size: 50px;
    color: rgb(230, 113, 113);
    margin-left:10px;
    font-family: 'rubik';
  }
  .h1{
    padding: 20px;
    box-shadow: 0 0 10px rgb(233, 160, 160);
    margin-bottom: 100px;
    font-family: 'Sono';
    font-size: 20px;

 }
 .me{
    letter-spacing: 1px;
    margin-bottom: 100px;
    font-family: 'rubik';
    font-size: 20px;
    
    
 }
span{
    color: rgb(236, 227, 227);
 
}
 .copyright{
    text-align: center;
    background: rgba(0, 0, 0, 0.774);
    font-weight: 100;
    margin-top: 1%;
    font-size: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
}
nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 1150px) {
  .body{
    color:#000000
  }
nav .fa-solid{
    display: block;
    font-size: 20px;
}
nav ul{
    background-color: #e75f5f;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    z-index: 5;
    transition:right 0.8s ;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top:10px;
    left: 60px;
    cursor: pointer;
    color: #000000;
}
.me{
  font-size:15px;
}
.container{
  margin-bottom: 100px;
}
  

}

@media only screen and (max-width: 540px) {
  .body{
    color:#000000
    
}

nav .fa-solid{
    display: block;
    font-size: 20px;
}
nav ul{
    background-color: #e75f5f;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    z-index: 5;
    transition:right 0.8s ;
  
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top:10px;
    left: 60px;
    cursor: pointer;
    color: #000000;
}
.me{
  font-size:15px;
  margin-bottom: 60px;


}
.container{
  margin-top: 100px;
}
.img-class{
  margin-bottom: 150px;
  margin-left: 50px;
  margin-top: 10px;

   }
  
}


@media screen and (max-width: 300px) {
  .body{
    color:#000000
    
}

nav .fa-solid{
    display: block;
    font-size: 20px;
}
nav ul{
    background-color: #e75f5f;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 20px;
    z-index: 5;
    transition:right 0.8s ;
  
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top:10px;
    left: 60px;
    cursor: pointer;
    color: #000000;
}
    .me{
      font-size:10px;
    
    }
    .container{
      margin-top: 20%;

}
}
